@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(31, 27, 24);
   
}


header{
    border-bottom: 2px solid white;
    
    margin-bottom: 20px;
}

.mainNav{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px 0 10px 0;
    padding: 10px;
    
}

#dropMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: blueviolet;
    position: absolute;
}

#dropMenu a{
    margin: auto;
    width: 150px;
}

#dropMenu p{
  margin: auto;
    width: 150px;  
}

.dropMenuButton img{
    width: 30px;
    height: auto;
    padding: 10px;
}

.dropMenuButton{
    background-color:rgb(31, 27, 24) ;
    border: none;
}

#titelMenu{
    padding: 0 100px 0 100px;
    width: 150px;
}

h2{
    text-align: center;
}

#pongCanvas{
    background-color: aliceblue;
    border: 1px solid black;
}

.pongContainer{
    display: flex;
    justify-content: center;
}

footer{
    background-color: aqua;
}

#myCanvas {
  margin-left: 200px;
  background-color: white;
}

.reklam{
    margin:50px auto ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reklam p{
    width: 25%;
    
}

.reklam img{
    width: 18%;
}

.toGame{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content:space-around;
}

.toGame img {
    width: 300px;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    border: 2px solid black;
}

.toGame img:hover{
    transform: scale(1.1) perspective(1px);
}

.main{
    width: 90%;
    background-color: aquamarine;
    margin: auto;
    border: 5px solid whitesmoke;
}

#myCanvas{
    margin-top: 50px;
}

