@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
nav{
    background-color: aqua;
    font-size: 30px;
    text-align: center;
    
}

#pongCanvas{
    background-color: aliceblue;
    border: 1px solid black;
}

.pongContainer{
    display: flex;
    justify-content: center;
}

footer{
    background-color: aqua;
}

